
/* Color names, abbreviations in camelCase: 

	Bl: blue;		D: deep;
	Gn: green;		L: light;
	Rd: red;		T: top;
	Gy: gray;		M: medium;
					B: bottom;	
	
*/
@MBlT: #6699cc;
@MBlB: #336699;
@LBlT: #e2f1f4;
@LBlL: #d5dddf;
@DBlT: #1e2b2e;
@DBlL: #161f21;
@GyT: #59676a;
@GyL: #4e5658;
@LGnT: #dbe3e5;
@LGnL: #d4d9da;
@DGnT: #aacfd6;
@DGnL: #8da1a5;
@MLBl: #6ba9cd;
@DRd: #c41016;
@DGy: #393939;
@MGy: #737373;

header{
	color: @MBlT;
}