
/* Color names, abbreviations in camelCase: 

	Bl: blue;		D: deep;   <- intensity
	Gn: green;		L: light;  <- intensity
	Rd: red;		T: top;    <- position
					B: bottom; <- position 
	Gy: gray;		M: medium; <- both position & intensity
*/
@MGy: #e6e6e6;					  /* used as background */
@MBlT: #6699cc;   @MBlB: #386b9e; /* used for the header */
@LBlT: #e2f1f4;   @LBlB: #d5dddf; /* used for header title */
@DBlT: #1e2b2e;   @DBlB: #161f21; /* used for step titles */
@GyT: #59676a;    @GyB: #4e5658;  /* used for subtitle */
@LGnT: #dbe3e5;   @LGnL: #d4d9da; /* used for main menu items */
@DGnT: #aacfd6;   @DGnL: #8da1a5; /* used for active selection */
@MLBl: #6ba9cd;   @DRd: #c41016;  /* header letters borders and red sign */
@DGy: #393939;    @MGy: #737373;  /* footer Titles and links */

/*	Gradients */ /*<<<<<<<<<<<<<<<<<<<<<<<<<< I am here !!!!!!!!!!!!!!!!!!        */
.gradient(@top:@MBlT, @bottom:@MBlB, @ribbon: @bottom, @shadIn:@GyT, @shadOut: @fallback:@from) {
	@foxG: "-moz-linear-gradient(top, {0}, {1}) no-repeat scroll 0 0 transparent";
  	@webkG: "-webkit-gradient(linear,left top,left bottom,color-stop(0, {0}),color-stop(1, {1}))  no-repeat scroll 0 0 transparent";
  	@ieG: "progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')";
  	@ie8G: "\"progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')\"";

  background: @fallback;                              /* for non-css3 browsers */
  background: formatstring(@ffgradient, @from, @to);  /* FF3.6+ */
  background: formatstring(@wkgradient, @from, @to);  /* Saf4+, Chrome */
  filter: formatstring(@iegradient, @from, @to);      /* IE6,IE7 */
  -ms-filter: formatstring(@ie8gradient, @from, @to); /* IE8 */ 
}


.topBlue (@MBlT: #6699cc, @MBlB: #386b9e) {
	background: @MBlT; /* Old browsers */
	background: -moz-linear-gradient(top,  @MBlT 0%, @MBlB 97%, @MBlT 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@MBlT), color-stop(97%,@MBlB), color-stop(97%,@MBlT)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @MBlT 0%,@MBlB 97%,@MBlT 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @MBlT 0%,@MBlB 97%,@MBlT 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @MBlT 0%,@MBlB 97%,@MBlT 96%); /* IE10+ */
	background: linear-gradient(top,  @MBlT 0%,@MBlB 97%,@MBlT 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@MBlT', endColorstr='@MBlB',GradientType=0 ); /* IE6-9 */
}

/* header styles */
header {
	.topBlue;
}



/* usage */

.some-selector {
  .gradient(#454545, #000, #454545);
}