@blue1Top: #6699cc;
@blue1Low: #336699;
@blue2Top: #e2f1f4;
@blue2Low: #d5dddf;
@blue3Top: #1e2b2e;
@blue3Top: #161f21;
@gray1Top: #59676a;
@gray1Low: #4e5658;
@greenLightTop: #dbe3e5;
@greenLightLow: #d4d9da;
@deepGreenTop: #aacfd6;
@deepGreenLow: #8da1a5;
@blueBorder1: #6ba9cd;
@deepRed: #c41016;
@deepGray: #393939;
@mediumGray: #737373;